<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
        https://www.springframework.org/schema/beans/spring-beans.xsd">

	<bean id="emp" class="kcp.spring.Empolyee.Employee">
		<!-- <property name="name" value="kalu charan panda set"></property>
		<property name="id" value="123"></property>
		<property name="city" value="Bhanjanagar"></property> -->

		<constructor-arg name="name" value="kalu charan panda contru"/>
		<constructor-arg name="city" value="bhanjanagar"/>
		<constructor-arg name="id" value="231"/>
	</bean>


</beans>