<?xml version="1.0" encoding="UTF-8"?>
<beans
	xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://www.springframework.org/schema/beans
        https://www.springframework.org/schema/beans/spring-beans.xsd">
        
        <bean id="cricle" class="kcp.spring.beans.Cricle"></bean>
        <bean id="rectangle" class="kcp.spring.beans.Rectangle"></bean>
        
        <bean id="area" class="kcp.spring.beans.Area">
        <property name="shape"  ref="cricle"></property>
        </bean>
</beans>